body {
  background: white;
  font-size: 18px;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.content {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.content form {
  display: flex;
  flex-direction: column;

}

form input {
  font-size: 1rem;
  padding: 1rem;
  margin: .25rem;
  border-radius: 6px;
  background-color: black;
  border: 1px solid;
  color: white;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1rem;
  margin: .25rem;
  padding: 1rem;
  color: black;
  cursor: pointer;
}

.scopes {
  background: #efefef;
  padding: 1rem;
  border-radius: 6px;
}

.scopes>li {
  list-style: none;
}

.center {
  text-align: center;
}

.error ul,
.success ul {
  padding: 1.5rem 2rem;
  border-radius: 6px;
  list-style: none;
  max-width: 600px;
}

.error ul {
  background: #ffe9e9;
  color: red;
}

.success ul {
  background: lightblue;
  color: navy;
}

#footer,
.disclaimer {
  text-align: center;
  font-size: .75rem;
}