<div>
  Hi <%= user.displayName %>
</div>

<form autocomplete="off" action="/account" method="post">
  <input 
    required 
    type="text" 
    name="email" 
    value="<%= user.email %>"
    placeholder="Enter your email" 
    <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
  <input 
    required 
    type="password" 
    name="password" 
    placeholder="password" 
    <% if (params.login_hint) { %>autofocus="on"<% } %>>

  <button type="submit" class="login login-submit">Save</button>
</form>
  