extends layout.pug

block content 
  h1 Log in
  form(action=`/interaction/${uid}/login`, method="post", autocomplete="off")
    input(type="email", name="email", placeholder="Enter your email")
    input(type="password", name="password", placeholder="and password") 
    button(type="submit") 
      text Sign-in to Resonate
  p.disclaimer Forgot your password? #[a(href="/password-reset") Reset it].  