//- layout.pug
html
  head
    title Resonate - #{title}
    block style
      link(rel='stylesheet', type='text/css', href='/public/style.css')
      link(rel='stylesheet', type='text/css', href='https://static.resonate.is/fonts/Graphik-Semibold.woff2')
    block scripts
      //- script(src='/jquery.js')
  body
    if messages
    for val, key in messages
        div(class=key)
          ul
            each val in messages[key]
              li #{val}
    div.content
      block content
    block foot
      #footer
        p Authentication provided by #[a(href="https://resonate.coop") Resonate].
