extends layout.pug

block content 
  h1 Request password reset
  form(action="/password-reset", method="post", autocomplete="off")
    input(type="email", name="email", placeholder="Enter your email")
    button(type="submit") 
      text Request password reset